<!DOCTYPE html>
<html>
<head>
	<title>About Eventify</title>
	<style>
	
		body{
		
		background-color: ghostwhite;
			
		}
	
		
		.intro{
			font-family: fantasy;
			text-align: center;
			font-size: 40px;
			color: black;
		}
		.public{
			font-family: cursive;
			font-size: 20px;
			color: black;
		}
		.about{
			padding-left: 30%;
		}
			
	</style>
	</head>
	<body>
		
	<p class="intro">About Eventify</p>
	<p class="public">Online learning is the newest and most popular form of distance education today. Within the past decade it has
had a major impact on postsecondary education and the
trend is only increasing. </p>
		<p class="public">Eventify is a collection of 100% free courses . It provides platform of learning  for people who wants become an Entrepreneur and become a successful buisness tycoon. It provides courses in vast areas which are really needed for a person to become a successful Entrepreneur</p>
		<p class="public">Now a Days people may not be perfect in each skills due to improvments in technology Man has to adapt changes and has to learn new things . So we the team of Eventify provides you the platform to learn and experience your skills in Finance and Computing,Writing,Public Speaking,Economics and managment courses which will help you a lot to increase your experience and understanding each of the courses</p>
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ4a31dTIh1BgBJNJmBcUh0zbVm7cAvYwUkfSA0hD6TSFp3kRRI&usqp=CAU" style="float:right;width: 200px;height: 200px">
		
		
	 
	</body>
</html>