
<!DOCTYPE html>
<html>
<head>
<title>Economics</title>
<style>
	body{
		
	   background-color: ghostwhite;
	}
	p.intro{
		color: black;
		background-color: ghostwhite;
		width: inherit;
		background-size:cover;
		width: 400;
		height: 55px;
		border: 5px solid black;
		font-size: 25px;
		margin-bottom: 0;
		text-align: center;
		padding-top: 10px;
	}
	.styling{
		border: adjust solid black;
		text-align: center;
		font-size: 48px;
		font-style: oblique;
	}
	.public{
		font-style: normal;
		font-size: 20px;
		text-justify: auto;
	}
	
	</style>	
</head>
	<body>
	<p class="styling">Welcome to Economics module</p>
	<p class="public">Entrepreneurship plays an influential role in the economic growth and standard of living of the country. As a startup founder or small business owner, you may think that you are simply working hard to build your own business and provide for yourself and your family. But you are actually doing a whole lot more for your local community, state, region, and the country as a whole</p>
<div style="float: left;padding: 20px;">
		 <p class="intro">Introduction toEntrepreneurial Economics </p>
		<iframe width="435" height="290" src="https://www.youtube-nocookie.com/embed/BR2migxtbp8?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
		</div>
	<div style="float:left;padding: 20px;">
	<p class="intro">Specializtion and trade</p>
	<iframe width="410" height="290" src="https://www.youtube-nocookie.com/embed/NI9TLDIPVcs?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Economic Systems and Macroeconomics</p>
	<iframe width="420" height="290" src="https://www.youtube-nocookie.com/embed/B43YEW2FvDs?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>
	<div style="float: left;padding: 20px;">
	<p class="intro">Supply and Demand</p>
	<iframe width="435" height="290" src="https://www.youtube-nocookie.com/embed/g9aDizJpd_s?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>

	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Fiscal Policy and stimulus </p>
		<iframe width="408" height="290" src="https://www.youtube-nocookie.com/embed/gIJBIIXTU_E?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			

		</div>
	
	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Deficts and Debit</p>
		<iframe width="408" height="290" src="https://www.youtube-nocookie.com/embed/3sUCSGVYzI0?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			

		</div>
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Recession Hyperinflation and Stagflation </p>
		<iframe width="423" height="290" src="https://www.youtube-nocookie.com/embed/BHw4NStQsT8?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	
		</div>
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Case Study </p>
		<iframe width="408" height="290" src="https://www.youtube-nocookie.com/embed/GPOv72Awo68?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<br>
		<br>
			<a href="quiz/quiz" style="font-size: 20px;font-style: oblique; color: black">QUIZ</a>
			</div>
</body>
	
</html>