
<!DOCTYPE html>
<html>
<head>
<title>Finance and Computing</title>
<style>
	body{
		
	   background-color: ghostwhite;
	}
	p.intro{
		color: black;
		background-color: ghostwhite;
		width: inherit;
		background-size:cover;
		width: 400;
		height: 55px;
		border: 5px solid black;
		font-size: 25px;
		margin-bottom: 0;
		text-align: center;
		padding-top: 10px;
	}
	.styling{
		border: adjust solid black;
		text-align: center;
		font-size: 48px;
		font-style: oblique;
	}
	.public{
		font-style: normal;
		font-size: 20px;
		text-justify: auto;
	}
	
	</style>	
</head>
	<body>
	<p class="styling">Welcome to Finance and Computing  module</p>
	<p class="public">Finance and Computation  management refers to the strategic planning, organising, directing, and controlling of financial undertakings in an organisation or an institute. It also includes applying management principles to the financial assets of an organisation, while also playing an important part in fiscal management. Take a look at the objectives involved:

      Maintaining enough supply of funds for the organisation;
     Ensuring shareholders of the organisation to get good returns on their investment;
     Optimum and efficient utilization of funds;
     Creating real and safe investment opportunities to invest in</p>
<div style="float: left;padding: 20px;">
		 <p class="intro">Introduction to Finance and Computing </p>
		<iframe width="410" height="290" src="https://www.youtube-nocookie.com/embed/odLLXQqgMwU?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
		</div>
	<div style="float:left;padding: 20px;">
	<p class="intro">Financial and Analytics</p>
	<iframe width="410" height="290" src="https://www.youtube-nocookie.com/embed/yI4ynqPbhDI?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Trading and Computational Finance Using Python</p>
	<iframe width="550" height="290" src="https://www.youtube-nocookie.com/embed/0sCFrekUnJs?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>
	<div style="float: left;padding: 20px;">
	<p class="intro">Computational Finance and Risk Managment</p>
	<iframe width="550" height="290" src="https://www.youtube-nocookie.com/embed/uY0z7J4fs-E?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>

	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Carrers in Finance and Computing</p>
		<iframe width="408" height="290" src="https://www.youtube-nocookie.com/embed/gIJBIIXTU_E?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<br>
		<br>
			<a href="quiz/quiz" style="font-size: 20px;font-style: oblique; color: black">QUIZ</a>

		</div>
	
</body>
</html>