<!DOCTYPE html>
<html>
<head>
<title>Managment</title>
<style>
	body{
		
	   background-color: ghostwhite;
	}
	p.intro{
		color: black;
		background-color: ghostwhite;
		width: inherit;
		background-size:cover;
		width: 400;
		height: 55px;
		border: 5px solid black;
		font-size: 25px;
		margin-bottom: 0;
		text-align: center;
		padding-top: 10px;
	}
	.styling{
		border: adjust solid black;
		text-align: center;
		font-size: 48px;
		font-style: oblique;
	}
	.public{
		font-style: normal;
		font-size: 20px;
		text-justify: auto;
	}
	
	</style>	
</head>
	<body>
	<p class="styling">Welcome to Managment module</p>
	<p class="public"> In today’s context, an entrepreneur is somebody who operates a business, taking risks and reaping the rewards that come with owning a business.An entrepreneur is a thought leader with often the expertise and knowledge of an innovator. Entrepreneurs bring new concepts to the table. They possess the right set of skills and the attitude to enhance and help a   strategic business progress while also producing greater revenue. Certain skills of an entrepreneur are fossilized prominently.However, future  next gen entrepreneurs are required to have distinguished management skills for a remarkable status on a socio-economic platform. A first-rate entrepreneur thrives in his business strategy by abdicating the traditional ways of management and infusing innovative managerial skills</p>
		
	<div style="float: left;padding: 20px;">
		 <p class="intro">Definition of Managment</p>
		<iframe width="400" height="250" src="https://www.youtube-nocookie.com/embed/0GyKxRYx1tQ?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
		</div>
	<div style="float:left;padding: 20px;">
	<p class="intro">Concept of Managment</p>
	<iframe width="400" height="250" src="https://www.youtube-nocookie.com/embed/V_8jOWpYp_c?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Feautures of Managment</p>
	<iframe width="458" height="250" src="https://www.youtube-nocookie.com/embed/qtWHNW0LTqE?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>
	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Nature of Managment</p>
	<iframe width="400" height="250" src="https://www.youtube-nocookie.com/embed/mnvwB1mV4cQ?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>

	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Buisness Environment</p>
		<iframe width="458" height="250" src="https://www.youtube-nocookie.com/embed/thdikskYUcw?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
<br>
		<br>
			<a href="quiz/quiz" style="font-size: 20px;font-style: oblique; color: black">QUIZ</a>
		</div>

	
	
</body>
</html>