
<!DOCTYPE html>
<html>
<head>
<title>Economics</title>
<style>
	body{
		
	   background-color: ghostwhite;
	}
	p.intro{
		color: black;
		background-color: ghostwhite;
		width: inherit;
		background-size:cover;
		width: 400;
		height: 55px;
		border: 5px solid black;
		font-size: 25px;
		margin-bottom: 0;
		text-align: center;
		padding-top: 10px;
	}
	.styling{
		border: adjust solid black;
		text-align: center;
		font-size: 48px;
		font-style: oblique;
	}
	.public{
		font-style: normal;
		font-size: 20px;
		text-justify: auto;
	}
	
	</style>	
</head>
	<body>
	<p class="styling">Welcome to Marketing module</p>
	<p class="public">Marketing is a vital process for entrepreneurs because no venture can become established and grow without a customer market. The process of acquiring and retaining customers is at the core of marketing. Entrepreneurs must create the offer (design the product and set the price), take the offer to the market (through distribution), and, at the same time, tell the market about the offer (communications). These activities define the famous Four Ps of marketing: product, price, place (distribution), and promotion (communication).</p>
<div style="float: left;padding: 20px;">
		 <p class="intro">Entrepreneurial Marketing: Introduction</p>
		<iframe width="435" height="290" src="https://www.youtube-nocookie.com/embed/yeIM5IxvY-o?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
		</div>
	<div style="float:left;padding: 20px;">
	<p class="intro"> Modern Marketing Strategy</p>
	<iframe width="410" height="290" src="https://www.youtube-nocookie.com/embed/yeIM5IxvY-o?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Content and Objectives</p>
	<iframe width="420" height="290" src="https://www.youtube-nocookie.com/embed/KwjtFgn-TEU?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>
	<div style="float: left;padding: 20px;">
	<p class="intro">Marketing Mix Management</p>
	<iframe width="435" height="290" src="https://www.youtube-nocookie.com/embed/wY8aVBCANk4?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>

	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Insights from Neil Patel / SEO</p>
		<iframe width="408" height="290" src="https://www.youtube-nocookie.com/embed/amP8CSKwBZ4?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			

		</div>
	
	

		
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Insights from Neil Patel / Email Marketing</p>
		<iframe width="440" height="290" src="https://www.youtube-nocookie.com/embed/BdGRUaOeMO8?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<br>
		
			<br>
			<a href="quiz/quiz" style="font-size: 20px;font-style: oblique; color: black">QUIZ</a>
		</div>
	
</body>
	
</html>