<!DOCTYPE html>
<html>
<head>
<title>Public Speaking</title>
<style>
	body{
		
	   background-color: ghostwhite;
	}
	p.intro{
		color: black;
		background-color: ghostwhite;
		width: inherit;
		background-size:cover;
		width: 400;
		height: 55px;
		border: 1px solid black;
		font-size: 25px;
		margin-bottom: 0;
	}
	.styling{
		border: adjust solid black;
		text-align: center;
		font-size: 48px;
		font-style: oblique;
	}
	.public{
		font-style: normal;
		font-size: 20px;
		text-justify: auto;
	}
	
	</style>	
</head>
	<body>
	<p class="styling">Welcome to Public Speaking module</p>
	<p class="public"> Public speaking is important in business communication since it can be used for delivering motivational speeches, professional presentations and even training exercises. Because of the breadth of applications, companies view public speaking skills as a necessity for business communication.   A public speaker representing a business must be able to persuade listeners, whether it’s to buy a product or service or for another purpose. Many professionals can be public speakers, and the ones who do this effectively are best remembered for getting their messages across engagingly.</p>
		
	<div style="float: left;padding: 20px;">
		 <p class="intro">Introduction to Public Speaking</p>
		<iframe width="400" height="250" src="https://www.youtube-nocookie.com/embed/ELeRJ8F6CR8?modestbranding=1&amp;rel=0&amp;autohide=1&;showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
		</div>
	<div style="float:left;padding: 20px;">
	<p class="intro">Public speaking apprehension Part 1</p>
	<iframe width="400" height="250" src="https://www.youtube-nocookie.com/embed/j0J8ACVWaz8??modestbranding=1&amp;rel=0&amp;autohide=1&;showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Public speaking apprehension Part 2</p>
	<iframe width="458" height="250" src="https://www.youtube-nocookie.com/embed/dzm6WvLR_cY??modestbranding=1&amp;rel=0&amp;autohide=1&;showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>
	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Public speaking apprehension part 3</p>
	<iframe width="400" height="250" src="https://www.youtube-nocookie.com/embed/xzIhYn4IOp4??modestbranding=1&amp;rel=0&amp;autohide=1&;showinfo=0;controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
	</div>

	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">How to develop strong voice</p>
		<iframe width="458" height="250" src="https://www.youtube-nocookie.com/embed/gLey8O2kIIM??modestbranding=1&amp;rel=0&amp;autohide=1&;showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			

		</div>

	
	
</body>
</html>