
<!DOCTYPE html>
<html>
<head>
<title>Economics</title>
<style>
	body{
		
	   background-color: ghostwhite;
	}
	p.intro{
		color: black;
		background-color: ghostwhite;
		width: inherit;
		background-size:cover;
		width: 400;
		height: 55px;
		border: 5px solid black;
		font-size: 25px;
		margin-bottom: 0;
		text-align: center;
		padding-top: 10px;
	}
	.styling{
		border: adjust solid black;
		text-align: center;
		font-size: 48px;
		font-style: oblique;
	}
	.public{
		font-style: normal;
		font-size: 20px;
		text-justify: auto;
	}
	
	</style>	
</head>
	<body>
	<p class="styling">Welcome to Writing module</p>
	<p class="public">Entrepreneurship can be a stressful, terrifying, and lonely journey. Even for individuals with great support networks and co-founders, it can still be difficult to find an outlet to vent. After all, spouses can get concerned about the how your challenges will affect their lives, and fellow entrepreneurs are often too wrapped up in their difficulties to listen to yours.Writing, however, is the perfect outlet for explaining, exploring, and digesting everything that you face as an entrepreneur.  I've found that after I write, my challenges seem smaller, and the future looks brighter. It's only when I trap negative thoughts in my mind that they fester into anxiety and depression.</p>
<div style="float: left;padding: 20px;">
		 <p class="intro">Introduction to Writing</p>
		<iframe width="435" height="290" src="https://www.youtube-nocookie.com/embed/uOS6tIYd3Eg?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
		</div>
	<div style="float:left;padding: 20px;">
	<p class="intro">5 tips to improve your writing</p>
	<iframe width="410" height="290" src="https://www.youtube-nocookie.com/embed/GgkRoYPLhts?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">How to write Better-Writing tips</p>
	<iframe width="420" height="290" src="https://www.youtube-nocookie.com/embed/ZIVwFRco28Y?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>
	<div style="float: left;padding: 20px;">
	<p class="intro">How to increase your vocabulary</p>
	<iframe width="435" height="290" src="https://www.youtube-nocookie.com/embed/53SIKuCuHv0?modestbranding=1&amp;rel=0&amp;autohide=1&showinfo=0;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
	</div>

	<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">English Grammar</p>
		<iframe width="408" height="290" src="https://www.youtube-nocookie.com/embed/tHt2aqzUtYI?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			

		</div>
	
	

		
		<div style="float: left;padding: 20px;">
	<p class="intro" style="width: auto">Pronounciation </p>
		<iframe width="423" height="290" src="https://www.youtube-nocookie.com/embed/z1ioA77rKaM?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	
		</div>
</body>
	
</html>